<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../estilo.css">
    <title>Document</title>
</head>

    <body>
        <header>
            <nav>
                <img src="" alt="LOGO">
                <ul>
                    <li><a href="../views/about.html" target="_blank">Nosotrxs</a></li>
                    <li><a href="https://www.instagram.com/" target="_blank">Redes</a></li>
                </ul>
            </nav>
        </header>
    <div class="documento">
        <main>
            <div class="formulario">
                <form>
                    <ul>
                     <li>
                       <input type="text" id="name" name="user_name">
                       <label for="name">Nombre</label>
                     </li>
                     <li>
                       <input type="email" id="mail" name="user_mail">
                       <label for="mail">Correo electrónico</label>
                     </li>
                     <li>
                       <textarea id="msg" name="user_message"></textarea>
                       <label for="msg">Mensaje</label>
                     </li>
                    </ul>
                   </form>
            </div>
        </main>
    </div>
        <footer>
            <div>
                <a href="../index.html">index</a>
            </div>
            <div>
                <a href="https://www.instagram.com/" target="_blank" >instagram</a>
            </div>
        </footer>
    </body>
</html>